<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Special+Elite&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>Kanye Rest</title>
</head>
<body>
  <main id="wrapper" class="wrapper main">
    <div class="innerwrapper">
      <a href="/"><h1>Kanye Quotes</h1></a>

      <p>The best from Kanye West</p>

      <form class="mainpage_form" action="/quote">
        <button class="quote">Get Quote</button>
      </form>

      <div class="login_links">
        <a href="/sign-up">Sign Up</a>  
        <a href="/login">Login</a>
      </div>

    </div>
  </main>
  
</body>
</html>